<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
</head>
<body>
    <h3>  Ops ! Qualcosa e' andato storto !</h3>
    
    <br>
    <br>
    
    <p1>Tranquillo nulla di grave , ecco cosa fare : </p1>
    <br>
    <p2><br>1) Controlla se hai inserito i parametri nel modo giusto, prenditi il tuo tempo !</br> </p2>
    <p3><br>2) Controlla se hai digitato correttamente l'url,attenzione alla porta di avvio di Tomcat </br></p3>
    <p4><br>3) Controlla se hai inserito corretamente la rotta </br></p4>
       <br>
    <p5><br> Per altri dubbi leggi la guida sul README di GitHub : </br></p5>

   
   
</body>
</html>